.join-event-card {
    position: fixed;
    right: 10px;
    width: 35%;
    margin: 10px;
    padding: 5px;
    color: black;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,.15);
    -webkit-box-shadow: 0 4px 10px rgba(0,0,0,.15);
    -moz-box-shadow: 0 4px 10px rgba(0,0,0,.15);}

.calendar-display {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.join-button {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: black;
    color: white;
    border-radius: 12px;
    font-size: 16px;
    padding: 8px 20px;
}

.card-header {
    color: white;
    background-color: black;
    text-align: center;
    margin-bottom: 30px;
}