
body{
    margin: 0;
}

.sidenav{
    position: fixed;
    width: 250px;
    top:75px;
    left: 0;
    bottom: 0;
    background: #111;
    padding-top: 50px;
}

.sidenav h5{
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}

.sidenav-item {
    display: block;
    color: #bbb;
    margin-bottom: 10px;
}


