
/* All pages */
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

h1.header {

    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: var(--green-900) ;

}

a {
    color: var(--green-900);

}
a:hover { text-decoration: none;
    color: var(--green-600);
    cursor: pointer;


}


/* colors ----------------------------------------------------------*/
:root {
    /* neutral */
    --neutral-25: #FFFFFF;
    --neutral-100: #F6F5F2;
    --neutral-200: #EDECE6;
    --neutral-300: #CBC9C2;
    --neutral-400: #97958E;
    --neutral-500: #52514C;
    --neutral-600: #464337;
    --neutral-700: #3B3626;
    --neutral-800: #2F2A18;
    --neutral-900: #27210E;

    /* green */
    --green-100: #F5F8E6;
    --green-200: #EAF2CF;
    --green-300: #CCD8A9;
    --green-400: #A3B181;
    --green-500: #6F7D50;
    --green-600: #5A6B3A;
    --green-700: #475928;
    --green-800: #2A3814;
    --green-900: #283B0F;

    /* alert */
    --allert-100: #FFEEE3;
    --allert-400: #FFA899;
    --allert-700: #B73B48;
    --allert-800: #93253A;
    --allert-900: #7A1631;

    /* warn */
    --warn-500: #FCB635;
    --warn-600: #D89326;

    /* linear */
    --linear-neutral: linear-gradient(180deg, rgba(111, 125, 80, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%) ;
    --linear-green: linear-gradient(180deg, #475928 0%, rgba(107, 130, 68, 0.56) 100%);
}


/* buttons, text fields ----------------------------------------------------------*/

input{

    width: 100%;
    max-width: 4000px;
    padding: 10px 43px ;
    background: #EDECE6;
    border: 1px solid #6F7D50;

    border-radius: 40px;
}


.registration-input label,input{
    display:flex;
    flex-direction:column;
    margin-top: 10px;
}


.registration-input input {
    margin: 10px auto 10px auto;
    width: 100%;

}



.btn-light{
    padding: 10px 43px ;
    background: #F6F5F2;
    border: 1px solid #5A6B3A;
    border-radius: 36px;
    color: var(--green-900);
    opacity: 1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


}

.btn-light:hover{
    padding: 10px 43px ;
    background: #F6F5F2;
    border: 1px solid #5A6B3A;
    border-radius: 36px;
    color: var(--green-900);
    opacity: 1;
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.btn-link a:hover{
    text-decoration: none;
}

button{
    align-self: end;
    padding: 10px 43px ;
    border: 1px solid #5A6B3A;
    border-radius: 36px;
    opacity: 1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.message {
    text-align: center;
    padding: 10px 43px ;
    border: 1px solid #5A6B3A;
    border-radius: 36px;
    color: var(--green-900);
    opacity: 1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.success {
    background: var(--green-300);
}

.error {
    background: var(--allert-400);
}


/* Navbar */

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    filter: drop-shadow(0px 11px 4px rgba(0, 0, 0, 0.19));

}


.navbar__title {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-right: auto;
    margin-left: 2rem;
}
.navbar__title:hover{
    transform: scale(1.1);
}

.logo-icon {
    width: 40px;
    align-items: center;
    justify-content: center;
    margin-top: -5px;
}


.menu-items{
    display:grid;
    position: relative;
    top: 50%;
    grid-template-columns: repeat(5,auto);
    grid-gap:15px;
    list-style: none;
    text-align: center;
    justify-content: end;
}
.menu-items li:hover{
    transform: scale(1.1);
}


/* Sidebar */

.sidenav{
    position: fixed;
    width: 250px;
    top:48px;
    left: 0;
    bottom: 0;
    background: linear-gradient(180deg, #3c4028 0%, #72754C 100%) ;
    padding: 50px 1% 1% 1%;
}

.sidenav h5{
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}

.sidenav-item {
    display: block;
    color: #bbb;
    margin-bottom: 10px;
    padding: 5%;

}


/* Main page---------- */
.bg-image-main{
    margin-top: 48px;
    background: url(components/main-page/bgimagemain.png) no-repeat center center ;
    height: 100%;


}

.row {
    align-self: center;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.home-header{
    padding: 20% 20% 20% 30%;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    color: var(--neutral-25);
}

.home-search{
    align-self: center;
    color: var(--neutral-25);
    padding: 10% 10%;
    /*background: #2F2A18;*/
    background-color:rgba(47,42,24,0.6);

    border-radius: 15px;
    text-align: center;
}
.thin-header{
    color: white;
    font-style: normal;
    font-weight: 300;
    opacity: 1;

}

.home-call-1{
    align-self: center;
    color: var(--neutral-25);
    text-align: center;
    position: relative;
    /*background: var(--neutral-400);*/
    background-color:rgba(151,149,142,0.6);
    padding: 20%;
    width: 100%;


}

.home-call-2{
    align-self: center;
    color: var(--neutral-25);
    text-align: center;
    position: relative;
    /*background: var(--neutral-700);*/
    background-color:rgba(59,54,38,0.6);
    padding: 20%;
    width: 100%;


}

.event-card-details{
    padding: 5%;
}



/* All events */
.events-main-container {
    margin-top: 48px;
    margin-left: 250px;
    padding: 1%;
}
.events-container {
    display: flex;
    flex-wrap: wrap;
}

.event-card {
    width: 300px;
    height: 400px;
    margin: 15px;
    background: var(--neutral-100);
    color: black;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    overflow: hidden;
}


.event-card:hover {
    transform: scale(1.1);
}


.event-card-category {
    color: var(--neutral-100);
    padding: 1%;
    background: linear-gradient(90deg, #3c4028 0%, #72754C 100%) ;;
    text-align: center;
    border-radius: 15px 15px 0 0;
    margin-bottom: 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.event-card-date-col {

    display: flex;
    width: 30px;
    flex-direction: column;
    flex:1;
    justifyContent: space-between;

}


.event-card-description-col
{
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

.event-card-pic{
    width: 100%;
    height: 200px;
}
#col1{
    align-items: center;
    align-self: start;
    flex-basis: 55px;
    line-height: 0px;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0;
    padding-top: 15px;
    background: var(--neutral-25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#col2{
    padding-left: 5%;
    overflow: hidden;
}

/* Event detail card */



.event-detail-card {
    position: fixed;
    left: 10px;
    width: 60%;
    margin: 10px;
    padding: 5px;
    color: black;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,.15);

}

.event-pic-large{
    width: 100%;
    height: 100%;
}


/* Join event card */
.join-event-card {
    position: fixed;
    right: 10px;
    width: 35%;
    margin: 10px;
    padding: 5px;
    color: black;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .15);
}

.calendar-display {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.join-button {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color:#6F7D50;
    color: white;
    border-radius: 20px;
    font-size: 16px;
    padding: 8px 20px;
    cursor: pointer;
}

.join-button:hover{
    transform: scale(1.1);
}

.card-header {
    color: white;
    background-color: black;
    text-align: center;
    margin-bottom: 30px;
}

/*Join event buttons*/
.slot-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slot-button {
    border-radius: 12px;
    font-size: 16px;
    padding: 5px 5px;
    margin: 10px;
    cursor: pointer;
}

.slot-button.inactive {
    background-color: white;
    color: black;
}

.slot-button.active {
    background-color:  #EAF2CF;
    color: black;
    border-color: #EAF2CF;
}

.slot-button:hover{
    transform: scale(1.1);
}

.slot-button.disabled{
    pointer-events: none;
}


/*-----------REGISTER---------------*/
.register-pic {
    border-radius: 29px;
    background: url(components/register-pic.jpg) no-repeat center center ;
    margin-top: 70px;
    margin-left: 3%;
    background-size: cover;
    height:100%;
}

.register-title{
    padding:90% 5% 5% 5%;
    color: var(--neutral-25);
}

.login-register-top{
    margin-top: 150px;
    margin-bottom: 10%;
   text-align: center;

}

.login-register-switch{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: auto;
    width: 250px;
    background: #EDECE6;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 33px;
}
.switch-non-active{
    padding: 12px 20px;

}
.switch-non-active:hover{
transform: scale(1.1);}

.switch-active{
    width: 50%;
    justify-content: center;
    align-self: end;
    margin: 5px;
    padding: 8px 20px;
    gap: 7px;
    color: var(--neutral-25);
    background: #5A6B3A;
    border-radius: 36px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form {
    margin: 20px auto;
   max-width: 350px;
}


.form-button button{
    align-self: end;
    color: white;
    background-color: #5A6B3A;
    margin-top: 30px;
    border: 1px solid #5A6B3A;
    border-radius: 36px;
    opacity: 1;
    width: 250px;
    padding: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.form-button button:hover {
    transform: scale(1.1);
}

.registration-buttons{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;


}
.google-register button{
    font-weight: bold;
    width: 250px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7px;
    background: #F6F5F2;
    border: 1px solid #5A6B3A;
    border-radius: 36px;
}

.google-register button:hover{
    transform: scale(1.1);
}



.events-add ul, .events-add ul li {
    list-style-type: none;
}

.events-add .slot_add input {
    padding: 5px;
    text-align: center;
    margin-right: 5px;
    white-space: nowrap;
}
.events-add input, .events-add button {
    text-align: center;
}

.slot_display button, .slot_add button {
    padding: 5px;
    text-align: center;
    white-space: nowrap;
    min-width: 120px;

    background: #CCD8A9;
    border: 1px solid #6F7D50;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 40px;
}

.events-add .slot_add {
    display: flex;

}

.slot_add button {
   align-self: auto;
   margin: 10px 5px 0 0;
}



.events-add select {
    padding: 5px 25px;
}
.events-add textarea {
    padding: 5px;
    text-align: left;
    width: 500px;
    height: 200px;
}
.events-add .slot_display {
    display: flex;
}

.events-add .slot_display div {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}

.events-add .slot_display:nth-child(odd) {
    background: #DDDDDD;
}

.error {
    background: #FFAAAA;
}

.slot_display button {
    position: relative;
    border: none;
    background: none;
    font-weight: bolder;
    color: red;
}

.invisible {
    visibility: hidden;
}

.upload_container button {
    background: none;
    border: none;
    color: red;
    font-weight: bolder;
    width: auto;
    max-width: auto;
    box-shadow: none;
    padding: 10px 20px;
    visibility: hidden;
}
