
/* All pages */
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

h1.header {

    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: var(--green-900) ;

}

a {
    color: var(--green-900);

}
a:hover { text-decoration: none;
    color: var(--green-600);
    cursor: pointer;


}


/* colors ----------------------------------------------------------*/
:root {
    /* neutral */
    --neutral-25: #FFFFFF;
    --neutral-100: #F6F5F2;
    --neutral-200: #EDECE6;
    --neutral-300: #CBC9C2;
    --neutral-400: #97958E;
    --neutral-500: #52514C;
    --neutral-600: #464337;
    --neutral-700: #3B3626;
    --neutral-800: #2F2A18;
    --neutral-900: #27210E;

    /* green */
    --green-100: #F5F8E6;
    --green-200: #EAF2CF;
    --green-300: #CCD8A9;
    --green-400: #A3B181;
    --green-500: #6F7D50;
    --green-600: #5A6B3A;
    --green-700: #475928;
    --green-800: #2A3814;
    --green-900: #283B0F;

    /* alert */
    --allert-100: #FFEEE3;
    --allert-400: #FFA899;
    --allert-700: #B73B48;
    --allert-800: #93253A;
    --allert-900: #7A1631;

    /* warn */
    --warn-500: #FCB635;
    --warn-600: #D89326;

    /* linear */
    --linear-neutral: linear-gradient(180deg, rgba(111, 125, 80, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%) ;
    --linear-green: linear-gradient(180deg, #475928 0%, rgba(107, 130, 68, 0.56) 100%);
}


/* buttons, text fields ----------------------------------------------------------*/

input{
<<<<<<< Updated upstream
  width: 100%;
  padding: 5%;
  background: #EDECE6;
  border: 1px solid #6F7D50;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
}
.btn-light{
  padding: 10px 43px ;
  background: #F6F5F2;
  border: 1px solid #5A6B3A;
  border-radius: 36px;
  color: var(--green-900);
  opacity: 1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
=======
    width: 100%;
    padding: 5%;
    background: #EDECE6;
    border: 1px solid #6F7D50;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
}
.btn-light{
    padding: 10px 43px ;
    background: #F6F5F2;
    border: 1px solid #5A6B3A;
    border-radius: 36px;
    color: var(--green-900);
    opacity: 1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
>>>>>>> Stashed changes


}

.btn-light:hover{
<<<<<<< Updated upstream
  padding: 10px 43px ;
  background: #F6F5F2;
  border: 1px solid #5A6B3A;
  border-radius: 36px;
  color: var(--green-900);
  opacity: 1;
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
=======
    padding: 10px 43px ;
    background: #F6F5F2;
    border: 1px solid #5A6B3A;
    border-radius: 36px;
    color: var(--green-900);
    opacity: 1;
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
>>>>>>> Stashed changes

}

.btn-link a:hover{
    text-decoration: none;
}



/* Navbar */

.navbar {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    filter: drop-shadow(0px 11px 4px rgba(0, 0, 0, 0.19));

}


.navbar__title {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-right: auto;
    margin-left: 2rem;
}
.navbar__title:hover{
    transform: scale(1.1);
}

.logo-icon {
    width: 40px;
    align-items: center;
    justify-content: center;
    margin-top: -5px;
}


.menu-items{
    display:grid;
    position: relative;
    top: 50%;
    grid-template-columns: repeat(5,auto);
    grid-gap:15px;
    list-style: none;
    text-align: center;
    justify-content: end;
}
.menu-items li:hover{
    transform: scale(1.1);
}


/* Sidebar */

.sidenav{
<<<<<<< Updated upstream
  position: fixed;
  width: 250px;
  top:48px;
  left: 0;
  bottom: 0;
  background: linear-gradient(180deg, #3c4028 0%, #72754C 100%) ;
  padding: 50px 1% 1% 1%;
=======
    position: fixed;
    width: 250px;
    top:48px;
    left: 0;
    bottom: 0;
    background: linear-gradient(180deg, #3c4028 0%, #72754C 100%) ;
    padding: 50px 1% 1% 1%;
>>>>>>> Stashed changes
}

.sidenav h5{
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}

.sidenav-item {
<<<<<<< Updated upstream
  display: block;
  color: #bbb;
  margin-bottom: 10px;
  padding: 5%;
=======
    display: block;
    color: #bbb;
    margin-bottom: 10px;
    padding: 5%;
>>>>>>> Stashed changes

}


/* Main page---------- */
.bg-image-main{
    background: url(components/main-page/bgimagemain.png) no-repeat center center ;
    height: 100%;


}

.row {
    align-self: center;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.home-header{
    padding: 20% 20% 20% 30%;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    color: var(--neutral-25);
}

.home-search{
    align-self: center;
    color: var(--neutral-25);
    padding: 10% 10%;
    background: #2F2A18;
    opacity: 0.75;
    border-radius: 15px;
    text-align: center;
}
.thin-header{
    color: white;
    font-style: normal;
    font-weight: 300;

}

.home-call-1{
    align-self: center;
    color: var(--neutral-25);
    text-align: center;
    position: relative;
    background: var(--neutral-400);
    opacity: 0.7;
    padding: 20%;
    width: 100%;


}

.home-call-2{
    align-self: center;
    color: var(--neutral-25);
    text-align: center;
    position: relative;
    background: var(--neutral-700);
    opacity: 0.7;
    padding: 20%;
    width: 100%;


}





/* All events */
.events-main-container {
    margin-left: 250px;
}
.events-container {
    display: flex;
    flex-wrap: wrap;
}

.event-card {
    width: 300px;
    margin: 10px;
    padding: 5px;
    color: black;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,.15);
    -webkit-box-shadow: 0 4px 10px rgba(0,0,0,.15);
    -moz-box-shadow: 0 4px 10px rgba(0,0,0,.15);}

.event-card:hover {
    transform: scale(1.1);
}


.event-card-category {
    color: white;
    background-color: black;
    text-align: center;
}

/* Event detail card */
.event-detail-card {
    position: fixed;
    left: 10px;
    width: 60%;
    margin: 10px;
    padding: 5px;
    color: black;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,.15);
    -webkit-box-shadow: 0 4px 10px rgba(0,0,0,.15);
    -moz-box-shadow: 0 4px 10px rgba(0,0,0,.15);}

/* Join event card */
.join-event-card {
    position: fixed;
    right: 10px;
    width: 35%;
    margin: 10px;
    padding: 5px;
    color: black;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,.15);
    -webkit-box-shadow: 0 4px 10px rgba(0,0,0,.15);
    -moz-box-shadow: 0 4px 10px rgba(0,0,0,.15);}

.calendar-display {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.join-button {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: black;
    color: white;
    border-radius: 12px;
    font-size: 16px;
    padding: 8px 20px;
    cursor: pointer;
}

.join-button:hover{
    transform: scale(1.1);
}

.card-header {
    color: white;
    background-color: black;
    text-align: center;
    margin-bottom: 30px;
}

/*Join event buttons*/
.slot-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slot-button {
    background-color: white;
    color: black;
    border-radius: 12px;
    font-size: 16px;
    padding: 5px 5px;
    margin: 10px;
    cursor: pointer;
}

.slot-button:hover{
    transform: scale(1.1);
}


