body {
  margin: 0px;
}

.container {
  margin: 16px;
}

.navbar {
  display: flex;
  align-items: center;
  
  background: rebeccapurple;
  color: white;
  font-family: Helvetica;
  font-weight: 300;
}

.navbar__title {
  margin-right: auto;
  font-size: 150%;
  padding: 12px 16px;
}

.navbar__item {
  padding: 16px 16px;
  cursor: pointer;
  vertical-align: middle;
}

.event-card { border-radius: 8px; box-shadow: 0 4px 10px rgba(0,0,0,.15); -webkit-box-shadow: 0 4px 10px rgba(0,0,0,.15); -moz-box-shadow: 0 4px 10px rgba(0,0,0,.15);}
        .card-topper { border-top-right-radius: 8px; border-top-left-radius: 8px; padding: 8px 16px; font-size: 12px; font-weight: 600; text-transform: uppercase;}
        .card-topper.People { background-color: #173F5F; color: #ffffff;}
        .card-topper.Animals { background-color: #ED553B; color: #ffffff;}
        .card-topper.Environment { background-color: #ED553B; color: #ffffff;}
        .card-topper.Small { background-color: #20639B; color: #ffffff;}